<div class="container">
    <h2>Formulas de Producción</h2>
    <div>
        <button class="btn" id="btnAgregar"><i class="icon-plus"></i></button>
    </div>
    <table class="table" id="gridLista">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Producto</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="application/dart" src="~/public/dart/sobrantes_1070.dart.js"></script>
<script src="~/public/scripts/dart.js"></script>